<h1>Login</h1>
<hr>
{{#if messages}}
    <p class="alert alert-danger">Invalid Login</p>        
{{else}}
    <p class="alert alert-secondary">Please enter your correct login</p>   
{{/if}}
<form method="post">
        <fieldset class="form-group">
                <label for="username" class="col-2 control-label">Username: *</label>
                <input name="username" id="username" required />
        </fieldset>
        <fieldset class="form-group">
                <label for="password" class="col-2 control-label mt-2">Password: *</label>
                <input name="password" id="password" type="password" required />
        </fieldset>
        <fieldset class="form-group">
                <button class="btn offset-2 mt-3 Button">Login</button>
                <button class="btn mt-3 Button"><a class="authLink" href="/auth/google">Google accouunt Login</a></button>
                <hr>
                Need an account? <button class="btn mt-1 mb-2 Button"><a href="/auth/register" title="Register">Register</a></button>
        </fieldset>
</form>