<h1>Register</h1>
<hr>
{{!-- show this message to the user to help login --}}
{{#if messages}}
    <p class="alert alert-danger">{{messages}}</p>        
{{else}}
    <p class="alert alert-secondary">Please create your account</p>   
{{/if}}
<form method="post">
        <fieldset class="form-group">
                <label for="username" class="col-2 control-label mt-2">Username: *</label>
                <input name="username" id="username" required type="email" placeholder="email@email.com" />
        </fieldset>
        <fieldset class="form-group">
                <label for="password" class="col-2 control-label mt-2">Password: *</label>
                <input name="password" id="password" type="password" required
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
        </fieldset>
        <fieldset class="form-group">
                <label for="confirm" class="col-2 control-label mt-2">Confirm: *</label>
                <input name="confirm" id="confirm" type="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"onkeyup="return comparePasswords();" />
                <span id="pwMsg"></span>
        </fieldset>
        <fieldset class="form-group">
                <button class="btn offset-2 mt-3 Button" onclick="return comparePasswords();">Register</button>
                <button class="btn mt-3 Button"><a class="authLink" href="/auth/google">Google accouunt Register</a></button>
                <hr />
                Already have an account? <button class="btn mt-1 Button"><a href="/auth/login" title="Login">Login</a></button>
        </fieldset>
</form>