<h1 class="mt-3">About Hobby Website</h1>
<hr>
<h5>Personal Hobby Website </h5>
<p>
It is a web application that introduces and recommends many kinds of different hobbies, and posts reviews and information about hobbies that I have already done, and visitors are inspired. Visitors can also create a simple post where they can share their hobbies, share each other's hobbies, and get recommendations. Therefore, it helps to have a more lively and fun leisure life.
</p>