<hr>

<div class="container text-center">
  <div class="row">
    <div class="col">
      <h1 class="mt-3">{{title}}</h1>
     <p>Welcome to {{title}}</p>
     <img src="/images/minahlogo.png" alt="logoImage" width="320" height="300" class="d-inline-block align-text-top me-2">
    </div>
    <div class="col">
      <img src="images/main.png" class="img-fluid mainlogo mt-5" alt="mainlogo">
    </div>
  </div>
</div>