<h1>Hobby Category</h1>
<hr>
<div class="container">
<div class="form-row">
<div class="form-group col-md-6">
    <form method="post">
        <fieldset>
            <label for="name">Category *: </label>
            <input class="form-control mt-1" type="text" name="name" id="name" max-length="50" placehoder="hobby category"required>
        </fieldset>
        <button class="btn mt-3 Button" type="submit">Create</button>
    </form>
</div>
</div>
</div>