<h1 class="mt-3">My hobby</h1>
<h3>Introducing My hobby</h3>
<a href="/hobby/create">Add a New Hobby</a>
{{!-- short term hobby cards --}}
<div class="card" style="width: 18rem;">
  <img src="/images/gelnails.jpg" class="card-img-top" alt="gelnails">
  <div class="card-body">
    <h5 class="card-title">Gel nails</h5>
    <ul>
        <li>I enjoyed doing gel nails by myself.</li>
        <li>Recommandation: ㅇ</li>
        <li>$$, You have to buy polishes and gel lamp.</li>
    </ul>
    <a href="#" class="btn btn-primary">Edit</a>
    <a href="#" class="btn btn-primary">Delete</a>
  </div>
</div>


{{!-- long term hobby cards --}}
